@import url('https://fonts.googleapis.com/css?family=Lustria');

body{
    background-color: #ff145e;
    font-family: 'Lustria', serif;
}

main{
    background-color: white;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2em;
}

p{
    position: relative;
    margin: 0;
    font-size: xx-small;
    color: white;
    width: 75px;
    transition: 1s;
    
}

h2{
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
    background-color: white;
    border: 2px solid black;
    border-radius: .5em;
    text-align: center;
}

p:hover{
    color: black;
    cursor: pointer;
    font-size: x-large;
    width: 200px;
}

h3{
    margin: 0 auto;
    border-radius: 1em;
    background-color: white;
    border: 2px solid #ff145e;
    width: 85px;
}

h3:hover{
    margin: 0 auto;
    cursor: pointer;
    background-color: #ff145e;
    border-color: black;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    color: white;
}

@media screen and (max-width: 408px){
    body{
        cursor: none;
    }

    img{
        display: none;
    }

}