body{
    background-color: rgb(230, 230, 230);
}

main{
    background-color: white;
    width: 80%;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

#results{
    width: 100%;
    margin: 0 auto;
}

img{
    width: 200px;
    height: 200px;
    border: 2px solid black;
}

img:hover{
    border-color: red;
}


 h2, h3{
    margin-top: 5%;
}

