body{
    background-color: #ff145e;
}

main{
    background-color: white;
    width: 80%;
    height: 100%;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2em;
}






/*--------------------*/

.jcarousel-wrapper {
    margin: 20px auto;
    position: relative;
    border: 3px solid black;
    border-radius: 1em;
    width: 285px;
    height: 250px;
    
    -webkit-box-shadow: 0 0 10px #999;
       -moz-box-shadow: 0 0 10px #999;
            box-shadow: 0 0 10px #999;
}


.jcarousel-wrapper .photo-credits {
    position: absolute;
    right: 15px;
    bottom: 0;
    font-size: 13px;
    color: #fff;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.85);
    opacity: .66;
}

.jcarousel-wrapper .photo-credits a {
    color: #fff;
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    width: 285px;
    height: 250px;
}

.jcarousel img {
    display: block;
    border-radius: .8em;
}

.jcarousel ul {
    width: 100%;
    height: 20000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel li {
    float: left;
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 0px;
    width: 30px;
    height: 250px;
    text-align: center;
    background: #ff145e;
    border-radius: 1em;
    color: #fff;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 100px/250px Arial, sans-serif;
    transition: .5s;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-next:hover,
.jcarousel-control-prev:hover{
    color: black;
    
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: .5;
    cursor: default;
}

/** Carousel Pagination **/

.jcarousel-pagination {
    position: absolute;
    top: 250px;
    left: 65px;
}

.jcarousel-pagination a {
    text-decoration: none;
    display: inline-block;
    
    font-size: 11px;
    line-height: 14px;
    min-width: 14px;
    
    background: white;
    border: 2px solid black;
    border-radius: 1em;
    color: black;

    padding: 3px;
    text-align: center;
    
    margin-right: 2px;
    
    opacity: .75;
}

.jcarousel-pagination a.active {
    background: #ff145e;
    color: black;
    opacity: 1;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.75);
}






#top_row{
    display: flex;
    flex-direction: row;
    
}

nav{
    background-color: rgb(230, 230, 230);
    border: 1px solid black;
    
    width: 100%;
    order: 1;
}

#moving_words{
    width: 100%;
    margin-right: 50px;
    margin-left: 10px;
    order: -1;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
}

#display_info{
    margin-left: 50px;
    margin-right: 10px;
    width: 100%;
    order: 2;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
}

#bot_row{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}

#find_words{
    width: 100%;
    order: -1;
    margin-left: 10px;
    margin-right: 75px;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
}

#project_4{
    width: 100%;
    order: 1;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
}

#documentation{
    width: 100%;
    order: 2;
    margin-left: 75px;
    margin-right: 10px;
    border: 2px solid black;
    border-radius: 2em;
    text-align: center;
}

p{
    margin-left: 10%;
    margin-right: 10%;
    
}



@media screen and (max-width: 870px){
    main{
        height: 100%;
    }
    
    #top_row{
        flex-direction: column;
    }

    nav{
        order: -1;
    }

    #moving_words{
        order: 1;
        text-align: center;
        margin: 0 auto;
    }

    #display_info{
        text-align: center;
        margin: 0 auto;
    }

    #bot_row{
        flex-direction: column;
    }

    #find_words{
        text-align: center;
        margin: 0 auto;
    }

    #project_4{
        text-align: center;
        margin: 0 auto;
    }

    #documentation{
        text-align: center;
        margin: 0 auto;
    }
    
    .jcarousel-pagination{
        top: 235px;
    }

    .jcarousel-control-prev,
    .jcarousel-control-next{
        width: 45px;
    }
}