body{
    background-color: rgb(230, 230, 230);
}

main{
    background-color: white;
    width: 1200px;
    height: 800px;
    margin: 0 auto;
    border: 1px solid black;
}

div{
    margin: .5em 0 .5em 0;
    float: left;
    position: relative;
    
}

h1{
    margin: 0 .5em 0 .0em;

}