@import url('https://fonts.googleapis.com/css?family=Lustria');

body{
    background-color: #ff145e;
    background-image: url("words_background.svg");
    background-size:     cover;                      
    background-repeat:   no-repeat;
    background-position: center center;
    font-family: 'Lustria', serif;
}

main{
    background-color: white;
    width: 80%;
    height: 650px;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 2em;
}

div{
    margin: .5em 0 .5em 0;
    float: left;
    position: relative;
    
}

h1{
    margin: 0 .5em 0 .0em;

}

h2{
    background-color: white;
    border-radius: 2em;
    width: 350px;
    margin: 0 auto;
    border: 2px solid black;
    margin-top: 25px;
    text-align: center;
}

a{
    text-decoration: none;
    color: black;
}


